---
layout: default
---

<div class="articles">
  {% for post in site.posts %}
    {% unless post.draft %}
      <article class="article x-preview">
        <h1 class="article-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <div class="article-byline">
          <time datetime="{{ post.date }}">{{ post.date | date: "%b %d, %Y" }}</time>&thinsp;&mdash;&thinsp;by {{ post.author.name }}
        </div>
        <div class="article-excerpt">{{ post.summary | markdownify }}</div>
        <a class="article-more" href="{{ post.url }}">Continue reading &rarr;</a>
      </article>
    {% endunless %}
  {% endfor %}
</div>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Blog",
    "@id": "{{ site.url }}",
    "about": {{ site.description | jsonify }},
    "blogPost": [
      {% for post in site.posts %}{% unless post.draft %}"{{ site.url }}{{ post.url }}"{% unless forloop.last %},{% endunless %}
      {% endunless %}{% endfor %}
    ]
  }
</script>
