.branding
  transition: all 200ms ease

  text-align: center

  &.is-grand
    margin: 3rem 0

    .branding-title
      margin: 1rem 0

      font-size: 2.8rem
      line-height: 3rem

      +scr-in($xs)
        font-size: 2.2rem
        line-height: 2.5rem

    .branding-subtitle
      font-size: 1rem
      line-height: 1.5rem

.branding-title
  margin: 0.5rem 0

  font-size: 1.7rem
  line-height: 2rem

.branding-subtitle
  margin: 0.5rem 0

  color: $c-grey-dk
  font:
    size: 0.6rem
    family: 'Merriweather', serif
    style: italic
