*
  box-sizing: border-box

::selection
  background-color: $c-lt-grey

html
  font-size: 30px

body
  color: $c-dk-grey
  font-size: 0.5rem
  font-family: 'Merriweather', serif
  line-height: 1rem

p
  margin: 0.5rem 0

  &.is-hanging
    text-indent: -0.7ch

h1, h2, h3
  margin: 0.25rem 0

  color: $c-black
  font-family: 'Montserrat', sans-serif
  letter-spacing: 0.02rem
  line-height: 1.5rem

  a
    +util-underline

h2
  font-size: 1.2rem
  line-height: 1.5rem

a
  +util-underline(6%, 8%)

  color: inherit
  text-decoration: none

em
  font-style: italic

strong
  font-weight: 700
