@keyframes a-gradient
  0%
    background-position-x: (1 / 12) * 100%
  100%
    background-position-x: (11 / 12) * 100%

=a-gradient
  animation: a-gradient 2.5s linear infinite
  background-image: linear-gradient(90deg, $c-blue, $c-blue, $c-purple, $c-purple, $c-blue, $c-green, $c-green, $c-blue, $c-purple, $c-purple, $c-blue, $c-blue)

=scr-in($size: $sm)
  @media(max-width: #{$size})
    @content

=scr-out($size: $sm)
  @media(min-width: #{$size})
    @content
