$c-white:   hsl(0, 0%, 96%)
$c-lt-grey: hsl(0, 0%, 88%)
$c-grey:    hsl(0, 0%, 45%)
$c-dk-grey: hsl(0, 0%, 28%)
$c-black:   hsl(0, 0%, 18%)
$c-nope:    transparentize($c-black, 1)
$c-blue:    hsl(210, 70%, 50%)
$c-red:     hsl(2, 60%, 50%)

$m-shadow: 1px 1px 12px -1px transparentize($c-black, 0.77)
