<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.url == site.home %}{{ site.title }}&mdash;A blog about web development and other life musings{% else %}{{ page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@calebmer">
  <!-- TODO: <meta name="twitter:image"> -->
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.summary }}">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  {% if page.noindex %}<meta name="robots" content="noindex">{% endif %}
  <script>(function(d) {var config = {kitId:'rtb3ajy',scriptTimeout:3000},h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)})(document);</script>
  <link rel="canonical" href="{{ site.url }}">
  <link rel="stylesheet" href="{{ site.url }}/assets/styles/main.css">
</head>
