<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% if page.url == site.home %}{{ site.title }}&mdash;A blog about web development and other life musings{% else %}{{ page.title }}{% endif %}</title>
  <meta name="description" content="{% if page.summary %}{{ page.summary }}{% else %}{{ site.description }}{% endif %}">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@calebmer">
  <!-- TODO: <meta name="twitter:image"> -->
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.summary }}">
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">

  <link rel="stylesheet" href="/assets/styles/main.css">
  <link rel="canonical" href="{{ site.url }}">
</head>
