*
  box-sizing: border-box

::selection
  background-color: hsl(0, 0%, 88%)
  text-shadow: none

html
  $rt-min: 27
  $rt-scr-min: $sm / 1px
  $rt-scr-max: (($sm + $lg) / 2) / 1px
  $rt-vw: ($rt-min * 1vw) / ($rt-scr-min / 100)

  font-size: $rt-min * 1px

  +scr-out($rt-scr-min * 1px)
    font-size: $rt-vw

  +scr-out($rt-scr-max * 1px)
    font-size: ($rt-vw / 1vw) * ($rt-scr-max / 100) * 1px

body
  overflow-x: hidden
  padding: 1rem
  background-color: $c-white
  color: $c-grey-dk
  font-size: 0.65rem
  // font-family: 'Lora', serif
  -webkit-font-smoothing: antialiased
  line-height: 1rem

p
  margin: 1rem 0
  word-wrap: break-word

  &.is-hanging
    text-indent: -0.6ch

h1, h2, h3
  margin: 1rem 0
  color: $c-black
  font-family: 'Montserrat', sans-serif
  text-rendering: optimizeLegibility
  line-height: 1rem

  a
    background:
      position-y: 1.06em
      size: 400% 0.1ch
    text-shadow: 0.09ch 0 $c-white, -0.09ch 0 $c-white

    &:visited
      color: inherit

h1
  font-size: 0.9rem

h2
  font-size: 0.8rem

h3
  font-size: 0.6rem

a
  background:
    image: linear-gradient(90deg, $c-grey, $c-grey)
    position-y: 1.1em
    size: 400% 1px
    repeat: no-repeat
  color: inherit
  text:
    decoration: none
    shadow: 0.2ch 0 $c-white, -0.2ch 0 $c-white

  &:hover
    +a-gradient

  &:visited
    color: $c-grey

em
  font-style: italic

strong
  font-weight: 700

hr
  width: 72%
  height: 1px
  border: none
  margin: 2rem auto
  background-color: $c-grey
  box-shadow: 0 -1px 0 $c-grey-lt

blockquote
  width: 90%
  margin: 2rem 0
  color: $c-grey
  font:
    size: 90%
    style: italic

  +scr-in($sm)
    width: 80%

code
  font:
    size: 80%
    family: "Source Code Pro", monospace

pre
  overflow-x: scroll
  padding: 1rem
  margin: 1rem 0
  font-family: "Source Code Pro", monospace

dt
  margin-top: 1rem
  font-weight: bold

dd > ul
  margin-left: 1rem
