.article
  margin: 2rem 0

  &.x-preview
    margin: 4rem 0

  &:not(.x-preview)
    .article-title
      font-size: 1.3rem
      line-height: 2rem

.article-title
  a
    background-image: none

.article-byline
  font-style: italic
