.branding
  margin: 5rem 0

  text-align: center

  +scr-in($xs)
    margin: 4rem 0

.branding-title
  margin: 1rem 0

  font-size: 3rem
  line-height: 3rem

  +scr-in($xs)
    margin: 0.5rem 0

    font-size: 2.2rem
    line-height: 2.5rem

.branding-subtitle
  font:
    size: 1rem
    family: 'Merriweather', serif
    style: italic

  +scr-in($xs)
    font-size: 0.85rem
