.branding
  margin: 5rem 0

  text-align: center

.branding-title
  margin: 1rem 0

  font-size: 3rem
  line-height: 3rem

  a
    +scr-in($md)
      +a-gradient

.branding-subtitle
  font:
    size: 1rem
    family: 'Merriweather', serif
    style: italic
