---
# Only the main Sass file needs front matter
---

@import 'minima';

.profile-pic {
  float: right;
  width: 220px;
  height: 220px;
  margin-left: 30px;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.img-center-shrink {
  display: block;
  margin: 0 auto;
  width: 80%;
}
