---
layout: default
---

<article class="article">
  <header class="article-header">
    <h1 class="article-title">{{ page.title }}</h1>
    <div class="article-byline">
      <time datetime="{{ post.date }}">{{ page.date | date: "%b %d, %Y" }}</time>&thinsp;&mdash;&thinsp;by {{ page.author.name }}
    </div>
  </header>
  <blockquote class="article-summary">
    {{ page.summary }}
  </blockquote>
  <main class="article-body">
    {{ content }}
  </main>
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "BlogPosting",
    "@id": "{{ site.url }}{{ page.url }}",
    "inLanguage": "en",
    "headline": {{ page.title | jsonify }},
    "description": {{ page.summary | jsonify }},
    "author": {
      "@type": "Person",
      "name": {{ page.author.name | jsonify }}
    },
    "dateCreated": {{ page.date | jsonify }},
    "articleBody": {{ content | jsonify }}
  }
</script>
